<div class="row">
  <div class="col-sm-6">
    <h2>Product Details</h2>
    <h4>Name: <%= @product.name %></h4>
    <h4>price: $<%= @product.cost %></h4>
    <h4>Nationality: <%= @product.country_of_origin %></h4> <br><br>
    <% if current_user && current_user.admin %>
      <h2 class="admin">Admin only</h2>
      <ul>
        <li><%= link_to "Edit product", edit_product_path(@product) %></li>
        <li><%= link_to "Delete product", product_path(@product),
                                :data => {:confirm => "Are you sure?",
                                              :method => "delete"} %></li>
      </ul>
    <% end %>
  </div>
  <div class="col-sm-4">
  <h2>Reviews</h2>
    <% if @product.reviews.any? %>

      <% @product.reviews.each do |review| %>
        <ul>
          <li>
            <%= link_to review.author, product_review_path(@product, review) %>
          </li>
        </ul>
      <% end %>
    <% else %>
      <p>No reviews are listed for this product.</p>
    <% end %>

    <p><%= link_to "Add an review", new_product_review_path(@product) %></p>
    <br>
    <p><%= link_to "Return to Homepage", '/' %></p>
  </div>
</div>