<!DOCTYPE html>
<html>
  <head>
    <title>Products and Reviews</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="container">

  <nav class="nav">
    <a class="nav-link active" aria-current="page" href="/">Home</a>&emsp;
    <a class="nav-link" href="#">placeholder1</a>&emsp;
    <a class="nav-link" href="#">placeholder2</a>&emsp;
  </nav>

    <%= flash[:alert] %>
    <%= flash[:notice] %>
    <%= yield %>
    </div>
  </body>
</html>
